/* Root values */
:root{
  --primary:#FF8226;--light-blue:#2675FF;--deep-blue:#2641F0;--light:#F4F4F4;--dark:#1E1E1E;
}

/* Global selectors */
*,html,body{
  padding:0;margin:0;box-sizing:border-box;text-decoration:none;list-style-type:none;-webkit-tap-highlight-color:transparent;transform-style:preserve-3d;transition:all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
body{
  font-family:Arial,Helvetica,sans-serif;
}
h1,h2,h3,h4,h5,h6{
  line-height:110%;
  margin-bottom:10px;
}
p{
  font-size:18px;
}
a{
  color:inherit;
}
ul{
  line-height:130%;
}
button{
  width:100%;background:unset;font-size:inherit;border-radius:10px;border:0;
}
button:hover{
  box-shadow:0 0 0 3px rgba(0,0,0,0.12);
  transform:scale(1.05);
}

/* Default Themes */
.light-theme{
  background:var(--light);color:var(--dark);
}
.dark-theme{
  background:var(--dark);color:var(--light);
}

/* Color classes */
.text-light-blue{
  color:var(--light-blue);
}
.text-dark-blue{
  color:var(--deep-blue);
}
.text-light{
  color:var(--light);
}
.text-dark{
  color:var(--dark);
}
.bg-light-blue{
  background:var(--light-blue);
}
.bg-deep-blue{
  background:var(--deep-blue);
}
.bg-primary{
  background:var(--primary);
}
.bg-light{
  background:var(--light);
}
.bg-dark{
  background:var(--dark);
}
.bg-blur{
  -webkit-backdrop-filter:blur(35px);
}

/* Modifier classes */
.hidden-left{
  left:-100%;
}
.slide-right{
  left:0;
}

/* Page Conponents */
.container{
  width:100%;height:100%;margin:0;padding:40px 0 0 0;position:fixed;overflow-y:auto;overflow-x:hidden;
}
.navbar{
  width:100%;min-height:40px;max-height:80px;position:fixed;top:0;left:0;right:0;box-shadow:0 0 7px 3px rgba(0,0,0,0.15);z-index:5;
}

/* Mobile Devices with screen width less than 580px: Smartphones.. */
@media screen and (max-width:580px){
  /* Navbar styles */
  .navbar{
    padding:15px 20px;display:flex;align-items:center;justify-content:space-between;
  }
  .navbar .logo{
    width:100%;max-width:200px;display:flex;align-items:center;justify-content:space-between;
  }
  .navbar .logo .icon{
    width:32px;height:32px;
  }
  .navbar .logo .text{
    font-size:18px;font-weight:bold;
  }
  
  /* Navbar Menu styles */
  .navmenu{
    width:100%;
    max-width:70%;
    height:100%;
    padding:80px 0;
    overflow-y:auto;
    overflow-x:hidden;
    position:fixed;
    top:0;
    bottom:0;
  }
  .navbar .togglers .toggle-btn{
    min-width:45px;
    max-width:45px;
    height:45px;
    padding:7px;
    box-shadow:0 0 0 2px rgba(0,0,0,0.05);
    border-radius:10px;
  }
  
  /* Header styles */
  .header{
    width:100%;height:auto;padding:80px 40px 0 40px;display:grid;grid-template-columns:repeat(auto-fit,minmax(100px,auto));gap:60px;grid-auto-flow:row;align-content:center;justify-items:center;position:relative;
  }
  .header-text{
    width:100%;
  }
  .header-text .cta-button{
    min-width:200px;
    padding:8px 13px;
    color:var(--deep-blue);
  }
  .header-img{
    width:100%;
    padding:0;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .header-img img{
    width:100%;
    min-width:300px;
    height:auto;
    flex-shrink:0;
  }
}

/* Device Orientation: Landscape */
@media (orientation:landscape){
  .navbar{
    padding:15px 40px;display:flex;align-items:center;justify-content:space-between;
  }
  .navbar .logo{
    width:100%;max-width:200px;display:flex;align-items:center;justify-content:space-between;
  }
  .navbar .logo .icon{
    width:32px;height:32px;
  }
  .navbar .logo .text{
    font-size:18px;font-weight:bold;
  }
  
  /* Navbar Menu styles */
  .navmenu{
    width:100%;
    max-width:70%;
    height:100%;
    padding:80px 0;
    overflow-y:auto;
    overflow-x:hidden;
    position:fixed;
    top:0;
    bottom:0;
  }
  .navbar .togglers .toggle-btn{
    min-width:45px;
    max-width:45px;
    height:45px;
    padding:7px;
    box-shadow:0 0 0 2px rgba(0,0,0,0.05);
    border-radius:10px;
  }
  
  /* Header styles */
  .header{
    width:100%;height:auto;padding:80px 60px 0 60px;display:grid;grid-template-columns:repeat(auto-fit,minmax(220px,auto));gap:60px;grid-auto-flow:row;align-content:center;justify-items:center;position:relative;
  }
  .header-text{
    width:100%;
  }
  .header-text .cta-button{
    min-width:150px;
    max-width:180px;
    padding:8px 13px;
    color:var(--deep-blue);
  }
  .header-img{
    width:100%;
    padding:0;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .header-img img{
    width:100%;
    min-width:300px;
    height:auto;
    flex-shrink:0;
  }
}


/* Mobile devices with screen width greater than 500px and less than 860px: Tablets.. */
@media screen and (min-width:600px){
  .navbar{
    padding:15px 40px;display:flex;align-items:center;justify-content:space-between;
  }
  .navbar .logo{
    width:100%;max-width:200px;display:flex;align-items:center;justify-content:space-between;
  }
  .navbar .logo .icon{
    width:32px;height:32px;
  }
  .navbar .logo .text{
    font-size:18px;font-weight:bold;
  }
  
  /* Navbar Menu styles */
  .navmenu{
    width:100%;
    max-width:70%;
    height:100%;
    padding:80px 0;
    overflow-y:auto;
    overflow-x:hidden;
    position:fixed;
    top:0;
    bottom:0;
  }
  .navbar .togglers .toggle-btn{
    min-width:45px;
    max-width:45px;
    height:45px;
    padding:7px;
    box-shadow:0 0 0 2px rgba(0,0,0,0.05);
    border-radius:10px;
  }
  
  /* Header styles */
  .header{
    width:100%;height:auto;padding:80px 60px 0 60px;display:grid;grid-template-columns:repeat(auto-fit,minmax(100px,auto));gap:60px;grid-auto-flow:column;align-content:center;justify-items:center;position:relative;
  }
  .header-text{
    width:100%;
    padding:60px 0 60px 0;
  }
  .header-text .cta-button{
    min-width:200px;
    padding:8px 13px;
    color:var(--deep-blue);
  }
  .header-img{
    background:red;
    width:100%;
    padding:0;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .header-img img{
    width:100%;
    min-width:450px;
    height:auto;
    flex-shrink:0;
  }
}

/* Desktop devices with screen width greater than 860px: Laptops, Desktops, iPads, Notebooks etc */
@media screen and (min-width:860px){
  /* Navbar styles */
  .navbar{
    padding:20px 80px;display:flex;align-items:center;justify-content:space-between;
  }
  .navbar .logo{
    width:100%;max-width:200px;display:flex;align-items:center;justify-content:space-between;
  }
  .navbar .logo .icon{
    width:32px;height:32px;
  }
  .navbar .logo .text{
    font-size:18px;font-weight:bold;
  }
  
  /* Navbar Menu styles */
  .navmenu{
    width:100%;
    min-width:250px;
    height:auto;
    padding:0;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-auto-flow:column;
    gap:0;
    overflow-y:hidden;
    position:relative;
  }
  .navbar .togglers .toggle-btn{
    display:none;
  }
  
  /* Header styles */
  .header{
    width:100%;height:auto;padding:80px 80px 0 80px;display:grid;grid-template-columns:repeat(auto-fit,minmax(100px,auto));gap:80px;grid-auto-flow:row;align-content:center;justify-items:center;position:relative;
  }
  .header-text{
    width:100%;
  }
  .header-text .cta-button{
    min-width:200px;
    max-width:220px;
    padding:12px 15px;
    color:var(--deep-blue);
  }
  .header-img{
    width:100%;
    padding:0;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .header-img img{
    width:100%;
    min-width:480px;
    height:auto;
    flex-shrink:0;
  }

}
